{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <img src="{% static 'img/ndmc-logo.jpeg' %}" id="icon" alt="User Icon" />
    </div>
    <h1>NDMC Invetory System</h1>
    <form method="post" action="{% url 'login' %}">{% csrf_token %}
      <input type="text" name="username" autofocus="" class="fadeIn second" required="" id="id_username login" placeholder="username">
      <input type="password" id="id_password password" class="fadeIn third" name="password" required="" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
{% endblock %}
