{% load staticfiles %}
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/sb-admin.min.js' %}"></script>
<script src="{% static 'js/datatables-demo.js' %}"></script>
<script src="{% static 'js/barcode.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>