{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Add Course</div>
      <div class="card-body">
        <form method="POST" class="post-form" role="form">{% csrf_token %}      
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" name="code" maxlength="255" id="id_code" class="form-control" placeholder="Course" required="required">
              <label for="id_code">Course</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Save</button>
          <button type="reset" class="bbtn btn-primary btn-block">Reset Button</button>  
        </form>
      </div>
    </div>
  </div>
{% endblock %}